<div class="businessBox">
	<h1><%= @user.name %></h1>
	<b>Description: </b> <%= @user.desc %> <br />
	<b>Phone Number: </b> <%= @user.phone %><br />
	<b>Email: </b> <%= @user.email %><br /><br />
</div>

<div class="linkPadding">
	<%= link_to "Home", controller: "welcome", action: "index" %>
	<!-- <p>Find me in app/views/users/show.html.erb</p> -->
</div>